body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.banner {
  max-height: 300px;
  overflow: hidden;
  /*border-bottom: solid 3px black;*/
}

.welcome {
  padding: 50px;
  text-align: center;
  font-size: 50px;
  position: absolute;
  top: 0;
}

.banner img {
  width: 100%;
}

.profile {
  height: 100px;
  width: 100px;
  overflow: hidden;
  position: absolute;
  top: 250px;
  left: 200px;
  /*border: solid 2.5px;*/
  border-radius: 50%;
}

.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.main {
  margin-top: 100px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 100px;

  display: flex;
  justify-content: space-between;
}

.left {
  width: 70%;

  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
}

.table {
  text-align: center;
  width: 100%;
  height: 1200px;
  border: solid 3px black;
  border-radius: 25px;
}

.right {
  width: 25%;
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
}

.right > div {
  text-align: center;
  width: 100%;
  border: solid 3px black;
  border-radius: 25px;
  margin-bottom: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 28px;
  font-weight: 800;
}

.balanceText {
  font-size: 58px;
  padding-top: 30px;
}
