body {
  font-family: "Inter Tight", sans-serif;
}

.table {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  text-align: center;
}

.title {
  font-size: 22px;
  font-weight: 700;
  margin-top: 35px;
  margin-bottom: 20px;
}

.element {
  padding: 15px;
  font-size: 18px;
}

.column {
  width: 100%;
}

.inoutBtn {
  border: 0px;
  border-radius: 50%;
  background-color: transparent;
  width: 70px;
  padding-top: 30px;
}

.inoutBtn img {
  width: 100%;
}
